.info-card {
    display: none;
}
.info-card{
background: rgba(255,255,255,0.05);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.1);
border-radius: 6px;
padding: 8px 12px;
}
body {
    background-color: black;
}
.info-card h2 {
    color: white;
    margin-top: 0;
}
.info-card p {
    color: gray;
}

#page-home h1 {
    color:white;
}
#page-home p {
    color:gray;
}